.btn {
  border: transparent;
  background-color: var(--accent-color);
  color: var(--primary-text-dark);
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: hsl(270, 90%, 25%);
  }

  @media (min-width: 900px) {
    padding: 15px 30px;
    font-size: 1.2rem;
  }
}
