.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 3px;

  input {
    font-size: 1rem;
    width: 100%;
  }

  &.dark {
    background-color: hsla(0, 0%, 20%, 0.9);
    color: var(--primary-text-dark);
  }

  &.light {
    background-color: hsla(270, 5%, 80%, 0.9);
    color: var(--primary-text-light);
  }
}

.date {
  font-size: 10px;
}

.todoBtm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnContainer {
  display: flex;
  gap: 5px;

  button {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
  }

  .icon {
    color: white;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}
