.todo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
  border-radius: 3px;
  min-height: 90px;

  &.dark {
    background-color: hsla(0, 0%, 20%, 0.9);
    color: var(--primary-text-dark);
  }

  &.light {
    background-color: hsla(270, 5%, 80%, 0.9);
    color: var(--primary-text-light);
  }
}

.todoTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 0.8rem;
}

.btnContainer {
  display: flex;
  gap: 5px;

  .icon {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

.todoBtm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 30px;

  p {
    overflow: hidden;
  }
}

.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  overflow: hidden;
  border: transparent;
  outline: transparent;
  padding: 0 5px;
  border-radius: 3px;

  &.dark {
    background-color: hsla(0, 0%, 10%, 0.9);
    color: var(--primary-text-dark);
  }

  &.light {
    background-color: hsla(270, 5%, 70%, 0.9);
    color: var(--primary-text-light);
  }
}

.check {
  padding: 8px;
  background-color: transparent;
  border-radius: 100%;
  outline: 2px solid var(--accent-color);

  &:hover {
    background-color: var(--accent-color);
  }
}

.uncheck {
  padding: 8px;
  background-color: green;
  border-radius: 100%;
  outline: 1px solid;

  &:hover {
    opacity: 0.5;
  }
}
