.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4rem);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 1rem;
  gap: 1rem;
}

.formHeader {
  color: white;
  font-size: 1.6rem;
}

.input {
  padding: 0.5rem;
}

.button {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
}
