.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: calc(100svh - var(--nav-height-mob));
  padding: var(--padding-mob);

  &.dark {
    background-color: var(--primary-bg-dark);
    color: var(--primary-text-dark);
  }

  &.light {
    background-color: var(--primary-bg-light);
    color: var(--primary-text-light);
  }
}

.h1 {
  font-size: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.formHeader {
  font-size: 1.6rem;
}

.inputRow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icon {
  position: absolute;
  left: 10px;
}

.input {
  width: 100%;

  outline: none;
  border: transparent;
  border-radius: 3px;
  padding: 10px 10px 10px 40px;

  &:focus {
    outline: solid 2px var(--accent-color);
  }

  &.dark {
    background-color: hsl(0, 0%, 20%);
    color: var(--primary-text-dark);

    &.input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--primary-text-dark) !important;
      -webkit-box-shadow: 0 0 0px 40rem hsl(0, 0%, 20%) inset;
      outline: solid 2px var(--accent-color);
    }
  }

  &.light {
    background-color: hsl(270, 5%, 80%);
    color: var(--primary-text-light);

    &.input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--primary-text-light) !important;
      -webkit-box-shadow: 0 0 0px 40rem hsl(270, 5%, 80%) inset;
      outline: solid 2px var(--accent-color);
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--primary-text-dark) !important;
  -webkit-box-shadow: 0 0 0px 40rem hsl(0, 0%, 20%) inset;
}

.button {
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 600;
  border: transparent;
  background-color: var(--accent-color);
  color: var(--primary-text-dark);

  &:hover {
    background-color: hsl(270, 90%, 25%);
  }
}

.link {
  text-decoration: underline;

  &.dark {
    color: var(--primary-text-dark);
  }

  &.light {
    color: var(--primary-text-light);
  }
}
