* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

// body {
//   background-color: var(--primary-bg-color);
//   color: var(--primary-text-color);
// }

h1 {
  font-size: 4rem;
}

a {
  text-decoration: none;
}
